@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Montserrat:wght@100;300;400;500;700&display=swap');


.web-head{
  font-family: 'Mr Dafoe', cursive;
}

body{
  font-family: 'Montserrat', sans-serif;
}

font-w-thin{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

font-w-light{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

font-w-regular{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


font-w-medium{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

font-w-bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@tailwind base;

a {
  @apply text-blue-200;
}

a:hover {
  @apply text-orange-700;
}

@tailwind components;

@tailwind utilities;

html, div#__next, body{
  height: 100%;
  width: 100%;
}

body{
  background: #ee7752;  /* fallback for old browsers */
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #1c3d35);
  background-size: 400% 400%;
}

input{
  border-width: 2px !important;
}

input::placeholder {
  font-size: 1rem;  
  line-height: 1rem;  
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lens-list-ctr{
  animation: 1s none 0s 1 animateResultView;
  transform-origin: top;
}

.lens-list-elem-ctr{
  animation: 1s none 0s 0.25 animateNodeView;
  transition: all 1s;
}

@keyframes animateNodeView {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateResultView {
  0% {
    opacity: 0;
    transform: scale3d(0,0,0);
  }
  50% {
    transform: scale3d(1,0,1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}
